:host {
    .nav-list {
        .nav-item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            .icon-container {
                padding-right: 0.5rem;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}