<mat-nav-list class="nav-list">
  <a
    [routerLink]="[item.path ? item.path : '']"
    [matTooltip]="item.name"
    matTooltipPosition="after"
    [matTooltipDisabled]="showLabels"
    (click)="item.action && item.action()"
    class="nav-item"
    *ngFor="let item of navItems | visible"
    mat-list-item
  >
    <span class="icon">
      <mat-icon *ngIf="item.icon" color="accent">{{ item.icon }}</mat-icon>
    </span>
    <span class="label" *ngIf="showLabels">{{ item.name }}</span>
  </a>
</mat-nav-list>
