<mat-table *ngIf="data.length; else noData" [dataSource]="data" class="table">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="unit">
    <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.unit }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="purchase_price">
    <mat-header-cell *matHeaderCellDef>Purchase price</mat-header-cell>
    <mat-cell *matCellDef="let element">{{
      element.purchase_price | currency: "PLN":"code"
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div fxLayout="row">
        <button mat-raised-button color="primary">Buy</button>
        <button mat-button color="primary">Sell</button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let rowData; columns: columnsToDisplay"></mat-row>
</mat-table>
<ng-template #noData>
  <p>There is no data available.</p>
</ng-template>
