<div id="MainPage" fxLayout="column">
  <app-nav (menuButtonClick)="openSidenav()"></app-nav>
  <mat-sidenav-container fxFlex autosize>
    <mat-sidenav class="sidenav" mode="side" opened>
      <app-sidenav [showLabels]="sidenavOpened"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="PageContent">
        <section class="mat-typography title-group">
          <router-outlet></router-outlet>
        </section>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
