@import '~@angular/material/theming';
@import 'theme.scss';

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Cabin, "Helvetica Neue", sans-serif; }

.table {
    @include mat-elevation(4);
}

.small-button {
    padding: 0 8px !important;
    min-width: 30px !important;
}

.snack-bar-warning {
    background-color: mat-color($pyexchange-warn);
}
